.carousel-control-prev-icon {
    background-image: url("https://muradaghazade.github.io/phones/img/detail-left.svg") !important;
}

.carousel-control-next-icon {
    background-image: url("https://muradaghazade.github.io/phones/img/detail-right.svg");
}

.product {
    margin-top: 50px;
}

.rating-span {
    font-size: 12px;
    border-right: 2px solid #f2f2f2;
    padding-right: 5px;
}


.price {
    border-bottom: 2px solid #f2f2f2;
}

.colors {
    display: flex;
    padding-top: 20px;
}

.all-colors {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.counter {
    display: flex;
    width: 125px;
    justify-content: space-between;
    padding-top: 20px;
}

.minus-plus {
    background-color: #F2F2F2;
    border-radius: 50%;
    padding: 5px 11px;
}

.minus-plus img {
    margin-top: -3px;
}

.count {
    margin-top: 5px;
}

.active {
    border: none !important;
    color: black !important;
}

.nav-link:hover {
    border: none !important;
}

.nav-link {
    font-size: 20px;
    border: none !important;
}

.specs-comment {
    margin-top: 100px;
}
